node_modules
extra
extra2
.env
.vercel



# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6I…0NDl9.I7mNWnZ5xr-8_zuJ6F0m4ma4ZQmsZw7QoXMV2CKXkFM


# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im4uaS5yYXliZTJAZ21haWwuY29tIiwiaWF0IjoxNzUzMTcwNjEyLCJleHAiOjE3NTM3NzU0MTJ9.EfWRMvpO0PLerK8RVkK6011hW9Fo3mPNiOJPkb_GPw0

# "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im4uaS5yYXliZTJAZ21haWwuY29tIiwiaWF0IjoxNzUzMTczNjcyLCJleHAiOjE3NTM3Nzg0NzJ9.4UOyKeunjOObaq3PVlr-pYBXK9Br15VScAlGok6UWbw"


# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6Im4uaS5yYXliZTJAZ21haWwuY29tIiwiaWF0IjoxNzUzMTc5NDM2LCJleHAiOjE3NTM3ODQyMzZ9.41t3VFa5JB9Ep97eydAA82ktN5fd_CF0ZrwTkyrcq90
